.client-list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    @media screen and (min-width: $mobile) {
        display: flex;
        flex-wrap: wrap;
        margin: -50px;
    }
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    @media screen and (min-width: $desktop) {
        justify-content: space-between;
    }
}
.client-item{
    margin: 15px;
    @media screen and (min-width: $mobile) {}
    @media screen and (min-width: $tablet) {}
    @media screen and (min-width: $desktop) {}
}
.client-link svg{
    fill: currentColor;
    
}
.client-link{
    color: #AFB1B8;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: inline-flex;
}
.client-link:hover,
.client-link:focus{
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}