.studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    }
    .studio.top{
        color: var(--primary-text-color);
        border: none;
    }
    .studio.down{
        color: var(--thirdly-text-color);
    }
    .Web{
        color: var(--accent-color);
    }
    .logo span{
        color:var(--accent-color) ; 
    }
    .header-nav{
        margin-left: 93px;
    }
    .nav-list{
        display: flex;
    }
    .nav-item:not(:first-child){
        margin-left: 54px;
    }
    .mail{
        fill: currentColor;
        margin-right: 10px;
        &.m{width: 16px; height: 12px;}
        &.t{width: 10px; height: 16px;}
    }
    .contact-item{
        @media screen and (min-width: $desktop) {
            &:not(:first-child){
            margin-left: 50px;
        }
        }
    }
    .nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    &:hover,
    &:focus{color:var(--accent-color);}
    }
    .contact-link{
        color: var(--secondary-text-color);
        &:hover,
        &:focus{color:var(--accent-color);}
        font-size: 14px;
    }
    .contact-link.mail::before{
        width: 20px;
        height: 14px;
        background-image: url(/images/envelope.svg);
    }
    .contacts-list{
        @media screen and (min-width: $tablet) {
            margin-left: 89px;
            width: max-content;
        }
        @media screen and (min-width: $desktop) {
            margin-left: 309px;
            width: max-content;
            display: flex;
        }
    }
    .section.header{padding-top: 25px;
    padding-bottom: 24px;
    justify-content: center;
    }
    .container.nav{
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
.mobile-hiden{
    display: flex;
    @media screen and (min-width: $mobile) {
        opacity: 0%;
        
    }
    @media screen and (min-width: $tablet) {
        opacity: 100%;
    }
}
.menu-button{
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 8px;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    z-index: 5;

    &:hover .icon, 
    &:focus .icon{
        fill: var(--accent-color)
    }

    & .icon-close{
        display: none;
    }
    
    &.is-open .icon-close{
        display: block;
    }
    
    &.is-open .icon-menu{
        display: none;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}
