.open-menu{
    width: 40px;
    height: 40px;
    padding: 11px 7px;
    background: none;
    border: none;
    position: absolute;
    & svg{width: 20px;}
    margin-left: 470px;
    @media screen and (min-width: $tablet) {
        opacity: 0;
        pointer-events: none;
    }
}