.portfolio-item:not(:first-child){
    margin-left: 8px;
}
.portfolio-button{
    border: none;
    border-radius: 4px;
    padding: 6px 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    &:hover,
    &:focus{
        background: var(--accent-color);
        color: var(--thirdly-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.portfolio-button-list{
    justify-content: center;
    display: flex;
    margin-bottom: 34px;}
.portfolio-img{
    margin-left: 0;
}
.thumb{
    position: relative;
    overflow: hidden;
}
.overlay{
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay{
    transform: translateY(0);
}
.overlay-text{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--thirdly-text-color );
}
.examples-linkportfolio{
    margin-top: 30px;
    margin-left: 30px;
    width: calc((100% - 30px * 3) /3);
    margin: 15px;
    border: 1px solid #EEEEEE;
}
.link-portfolio{
    width: 370px;
}
.examples-linkportfolio h2{
    margin-left: 24px;
}
.examples-linkportfolio p{
    margin-left: 24px;
}
.link-text{
    padding: 20px 24px;
    border-left: 1px solid var(--card-border-line);
    border-right: 1px solid var(--card-border-line);
    border-bottom: 1px solid var(--card-border-line);
}
.link-portfolio:hover .link-text,
.link-portfolio:focus .link-text{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}